<h1>Coupons#index</h1>
<p>Find me in app/views/coupons/index.html.erb</p>
<% @coupons.each do |coupon| %>
  <h4><%= link_to coupon.coupon_code, coupon_path(coupon) %></h4>
  <p><%= coupon.store %></p><br>
<% end %>
