<h3>Coupon Form</h3>
<%= form_tag coupons_path do %>
  <p>Coupon Code: <%= text_field_tag :'coupon[coupon_code]', nil, placeholder: "code"%></p>
  <p>Store: <%= text_field_tag :'coupon[store]', nil, placeholder: "store"%></p>
  <p><%= submit_tag "Submit Coupon" %></p>
<% end %>
